/* Css for Documentation and Legal Details */

.docu-wrap {
    max-width: 1400px;
    margin: auto;
    background-color: #ffffff;
    text-align: left;
    padding: 1%;
}

.docu-wrap * {
    padding-bottom: 5px;
    padding-top: 5px;
}

table {
    text-align: left;
    vertical-align: text-top;
    max-width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid;
    padding: 10px;
}

.flex-docu {
    display: flex;
    flex-flow: wrap;
    justify-content: left;
}

.flex-docu-item {
    max-width: 650px;
    min-width: 200px;
    border: 0;
}

.legalDetails {
    text-align: left;
    background-color: #ffffff;
    margin: auto;
    padding: 1%;
    min-width: 70%;
    max-width: 900px;
}

.legalDetails * {
    margin-top: 10px;
}