table {
    text-align: left;
    max-width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid;
    padding: 10px;
}

.docu-wrap {
    max-width: 1400px;
    margin: auto;
}

.docu-wrap * {
    margin: 5px 1%;
}

.legalDetails {
    text-align: left;
    background-color: #ffffff;
    margin: auto;
    padding: 1%;
    min-width: 70%;
    max-width: 900px;
}

.legalDetails * {
    margin-top: 10px;
}