.center {
    text-align: center;
}

.banner {
    margin: 15px;
    text-align: center;
}

.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
}

.product {
    padding: 5px;
    background-color: rgb(145, 145, 145);
    text-align: center;
}

.productImage {
    max-height: 20em;
}

.productText {
    font-size: 1.5em;
}

.productLink {
    text-decoration: none;
}

select {
    width: 30%;
    height: 40px;
    padding-left: 10px;
    color: #fff;
    font-family: 'Open Sans Extra Bold', sans-serif;
    font-size: 16px;
}

nav {
    background-color: #333333;
}

nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 1.0em;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 150%;
    font-family: 'Open Sans Extra Bold', sans-serif;
}

nav ul li a:hover {
    opacity: 0.7;
    /* background-color: #111111; */
}

.content-wrap {
    min-height: calc(100vh - 60px);
}

footer {
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #333333;
}

:root {
    --red: #ff5757;
}

* {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

body,
body * {
    font-family: 'Open Sans Extra Bold', 'sans-serif';
    font-weight: 600;
    color: dimgrey;
}

.left,
.right {
    width: 49.5%;
    float: left;
    padding: 10% 30px;
    top: 0;
}

.right::after {
    clear: both;
}

label,
select {
    display: block;
}

form>div {
    width: 49.5%;
    display: inline-block;
}

input {
    width: 30%;
}

input[type=submit] {
    margin: 16px 0;
    padding: 8px;
    border-radius: 0;
    border: 3px solid dimgrey;
    background: none;
    font-size: 14px;
    transition: color .25s ease-in, background .25s ease-in;
    cursor: pointer;
}

input[type=submit].del-btn {
    width: 150px;
    color: var(--red);
    border-color: var(--red);
}

input[type=submit]:hover {
    color: white;
    background: #333333;
}

input[type=submit].del-btn:hover {
    background: var(--red);
}

input[type=text],
input[type=email],
select {
    padding: 8px;
}

.error {
    border: 2px solid var(--red);
    color: var(--red);
    width: 30%;
    margin: 0 auto;
    padding: 8px;
    text-align: center;
}

table {
    max-width: 100%;
}

.button {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    font-family: 'Open Sans Extra Bold';
    font-size: 16px;
    border: 1px solid dimgrey;
    color: dimgrey;
    background-color: white;
    padding: 3px 7px;
}

.button:hover {
    background-color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.errors {
    color: red;
}